* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #202124;
  color: #bdc1c6;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* top */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 16px;
}

.top a {
  text-decoration: none;
  color: #bdc1c6;
}

.top a:hover {
  text-decoration: underline;
}

/* top left */
.top_left {
  display: flex;
  align-items: center;
}

.top_left a {
  margin-right: 20px;
}

/* top right */
.top_right {
  display: flex;
  align-items: center;
}

.top_right a {
  margin-left: 20px;
}

.top_right .material-icons {
  margin-left: 20px;
}

/* main body */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17vh;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 40px;
  border: 1px solid #bdc1c6;
  border-radius: 20px;
  margin-top: 30px;
}

.search > input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: #202124;
  color: #bdc1c6;
}
.search-bars {
  margin-top: 30px;
  padding: 10px;
}

.search-bars > button {
  background-color: #303134;
  color: #bdc1c6;
  height: 34px;
  width: 100px;
}

/* bottom */
.uk {
  padding: 15px 30px;
}

.carbon {
  padding: 15px;
  text-decoration: none;
  color: #bdc1c6;
  display: flex;
  justify-content: center;
}

.bottom a:hover {
  text-decoration: underline;
}

.very-bottom a {
  text-decoration: none;
  color: #bdc1c6;
}

.very-bottom a:hover {
  text-decoration: underline;
}

.very-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #303134;
  height: 60px;
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.very-bottom a {
  margin: 10px;
}
